<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<p>Webapp with:
- devise for users (translation only it)
- bootstrap style
- dev mailcatcher / prod sendgrid
- heroku
</p>
